.dform-input-item.edit-line>.body.dropdown-cp, .dform-input-item.ttb>.body.dropdown-cp{
  padding: 0;
}

dropdown-cp {
  position: relative;
}

dropdown-cp>* {
  font-size: inherit;
  color: inherit;
}

dropdown-cp>.back {
  z-index: 1;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

dropdown-cp>.caret {
  z-index: 1;
  width: 3em;
  background: #eee;
  border-left: solid 1px #ccc;
}

dropdown-cp>.info{
  position: relative;
  height: 2.5em;
}
dropdown-cp>.info>input, dropdown-cp>.info>.text, dropdown-cp>.caret {
  height: 2.5em;
}

dropdown-cp>.info>input, dropdown-cp>.info>.text {
  padding: 0 .6em;
  z-index: 1;
}

dropdown-cp>.info>input {
  z-index: 3;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
}

dropdown-cp>.list {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 15em;
  overflow-y: auto;
  padding: .6em 0;
  background: #fff;
  border: solid 1px #ccc;
  top: 100%;
}

dropdown-cp>.list>* {
  padding: .5em .6em;
  height: 2em;
}

dropdown-cp>.list>*:hover {
  background: #ccf;
}

dropdown-cp>.list>.active {
  background: #00f;
  color: #fff;
}