page-dick-edit, page-dick-edit>* {
  height: 100%;
}

page-dick-edit .dick-edit-left {
  max-width: 12em;
  min-width: 5em;
  height: 100%;
  overflow-x: auto;
  border-right: solid 1px #ccc;
}

.dick-edit-item {
  padding: .5em;
  border-bottom: solid 1px #ccc;
}

.dick-edit-item.active {
  font-weight: 900;
  background: #fff;
  color: #00f;
}

.dick-edit-body {
  background: #fff;
}


.dick-edit-list-header{
  border-bottom:solid 1px #ccc;
}
.dick-edit-filter {
  background: #fff;
  border-radius: 3px;
  margin: 3px;
  padding: 5px 2px;
  min-width: 8em;
}
.dick-edit-filter>input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.47058824em;
  line-height: 1.47058824;
}
.dick-edit-list-header>.active{
  background: #fff;
}